<div id="plantRegister" class="divParentRegister">
    <span class="w-32">{{ plantRegister.name }}</span>
    <span class="w-32">{{ plantRegister.type }}</span>
    <div class="divChildrenRegister">
        <button class="w-10" (click)="clickFavorite()">
            <app-button-plants [icon]="favorite"></app-button-plants>
        </button>
        <button class="imgButtonRegister" (click)="clickDelete()">
            <app-button-plants [icon]="delete"></app-button-plants>
        </button>
    </div>
</div>