<div class="divParentFormList">
    <app-form-plants class="halfScreen" (plantCreated)="onPlantsRegister($event)"></app-form-plants>
    <div class="divFormList">
        <span class="subtitulo">Listado</span>
        <div class="divChildrenList">
            <div id="register{{i}}" *ngFor="let plant of plants; let i = index">
                <app-register-plants [plantRegister]="plant" (plantFavorite)="onPlantFavorite($event)"
                    (plantDelete)="onPlantDelete($event)"></app-register-plants>
            </div>
        </div>
    </div>
</div>