<div class="flex flex-col items-center">
    <span class="subtitulo">Formulario</span>
    <input class="input" type="text" placeholder="Nombre de la planta">
    <div class="flex flex-row gap-3">
        <div *ngFor="let plantSelection of plantsSelection">
            <app-componet-plants [plant]="plantSelection"></app-componet-plants>
        </div>
    </div>
    <div class="flex flex-row gap-3">
        <app-button-plants [icon]="aceptar"></app-button-plants>
        <app-button-plants [icon]="cancelar"></app-button-plants>
    </div>
</div>